main{
    padding-top: 130px;
}

.bgcontenedor{
    background-color: rgb(240, 241, 248);
    margin-bottom: 1rem;
    padding: .8rem .5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 0px 1px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /*box-shadow: rgba(206, 210, 216, 0.25) 0px 1px 1px, rgba(206, 210, 216, 0.25) 0px 0px 1px 1px;*/
}


/* --- MEDIAQUERIES ---  */

/* Dispositivo SM */
@media screen and (max-width: 576px){
    main{
        padding-top: 160px;
    }
}

/* Dispositivo MD */
@media screen and (max-width: 768px) {
	
}

/* Dispositivo LG */
@media screen and (max-width: 992px) {
    
}
/* Dispositivo XL */
@media screen and (max-width: 1200px) {
   
}
/* Dispositivo XXL */
@media screen and (max-width: 1400px){
   
}