<app-header></app-header>
<div class="container-fluid">
    <div class="row justify-content-center">
        <main class="col-12">
            <div class="mb-2">
                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center 
                bgcontenedor">
                    <h4 class="m-0 text-capitalize">
                        <i class="{{icono}}"></i>
                        {{titulo}}
                    </h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item me-1"><a [routerLink]="enlace"
                                    class="text-decoration-none text-dark fw-bold text-capitalize">{{titulo}}</a>
                            </li>
                            <li class="breadcrumb-item text-capitalize active" 
                            aria-current="page">{{accion}}</li>
                        </ol>
                    </nav>
                </div>
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>
