<div class="row">
    <div class="col-12 col-lg-8">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between gap-3">
                    <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    <div>
                        <div class="d-flex justify-content-start gap-3">
                            <div class="mb-0">
                                <input type="date" class="form-control" [(ngModel)]="fecha"
                                    (change)="buscarMatriculas()">
                            </div>
                            <button type="button" class="btn btn-primary" 
                            (click)="eliminarAsistencias()" [disabled]="datos.length==0">
                                <i class="bi bi-hdd"></i>
                                Eliminar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                            No hay registros.
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" *ngIf="datos.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w70">N°</th>
                                        <th scope="col">Apellidos y Nombres</th>
                                        <th scope="col" class="w70">Situación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dato of datos; let i= index">
                                        <th>{{i+1}}</th>
                                        <td>{{dato.matriculadetalle?.matricula?.alumno?.persona?.apellidopaterno |
                                            uppercase}}
                                            {{dato.matriculadetalle?.matricula?.alumno?.persona?.apellidomaterno |
                                            uppercase}}
                                            {{dato.matriculadetalle?.matricula?.alumno?.persona?.nombres | uppercase}}
                                        </td>
                                        <td>
                                            <span class="badge rounded-pill bg-{{dato.situacion?.color}}">
                                                {{dato.situacion?.nombre | uppercase}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="row">

            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                    </div>
                    <div class="card-body">

                        <ol class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-start"
                            *ngIf="periodonombre">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Periodo</div>
                                    {{ periodonombre | uppercase}}
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Aula</div>
                                    {{ aulanombre | uppercase}}
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
