<div class="row">
    <div class="col-12 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="card contenido-principal">
                    <div class="card-header">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="horarioForm" (submit)="agregarHorario()">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="periodoId" class="form-label">Periodo</label>
                                                <select class="form-select" aria-label="Seleccionar periodo"
                                                    formControlName="periodoId">
                                                    <option value="">Seleccionar Periodo</option>
                                                    <option *ngFor="let periodo of periodos"
                                                        [value]="[periodo.id,periodo.nombre]">
                                                        {{periodo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                                    class="form-text text-danger">
                                                    La periodo es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="aulaId" class="form-label">Aula</label>
                                                <select class="form-select" aria-label="Seleccionar aula"
                                                    formControlName="aulaId">
                                                    <option value="">Seleccionar Aula</option>
                                                    <option *ngFor="let aula of aulas" [value]="[aula.id,aula.nombre]">
                                                        {{aula.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('aulaId')" id="aulaId"
                                                    class="form-text text-danger">
                                                    La aula es requerida
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-calendar2-check"></i>
                                                Generar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="card contenido-principal">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                            <button type="button" class="btn btn-primary" (click)="guardarHorario()" 
                            *ngIf="datos.length>0">
                                <i class="bi bi-hdd"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12" *ngIf="cargando">
                                <div class="mb-1">
                                    <div class="alert alert-info text-center" role="alert">
                                        <h6 class="alert-heading">Cargando...</h6>
                                        <div class="spinner-border" role="status">
                                        </div>
                                        <p>Por favor espera</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="!cargando">
                                <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                    {{message}}
                                </div>
                                <div class="row m-1 table-responsive" *ngIf="datos.length>0">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let dia of dias" scope="col" class="w300 text-center">
                                                    <p> {{dia.nombre}}</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let in of intervalos">
                                                <td *ngFor="let dato of datos.slice(in.inicio,in.final)">
                                                    <p>{{dato.hora.inicio}} - {{dato.hora.fin}}
                                                    </p>
                                                    <select class="form-select" aria-label="Seleccionar area"
                                                        *ngIf="dato.hora.tipo===1" [(ngModel)]="dato.areaId"
                                                        (change)="verificaSeleccion(dato)">
                                                        <option value=0>Seleccionar Area</option>
                                                        <option *ngFor="let area of areas" [value]="area.id">
                                                            {{area.nombre}}
                                                        </option>
                                                    </select>
                                                    <strong *ngIf="dato.hora.tipo===0" class="text-center">
                                                        RECREO
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>