<section class="body">
    <div class="container-xl d-flex justify-content-center align-items-center alto-100">
        <div class="row">
            <div class="col-12">
                <div class="caja-principal">
                    <div class="d-flex flex-column flex-sm-row justify-content-sm-between gap-3 gap-sm-5 p-5">
                        <div class="my-auto mb-5 mb-sm-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <img [src]="institucion.img! | imginstitucion" alt="logo app"
                                    class="img-fluid img-logo">
                            </div>
                        </div>
                        <div>
                            <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off"
                                class="d-flex flex-column gap-4">
                                <h1 class="text-center">Iniciar Sesión</h1>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-person-fill"></i>
                                    </span>
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email"
                                        aria-label="Email" aria-describedby="basic-addon1">
                                </div>
                                <span *ngIf="campoRequerido('email')" class="text-danger">
                                    <p class="text-sm-start fs-6 fst-italic">El email es requerido</p>
                                </span>
                                <span *ngIf="campoEmail('email')" class="text-danger">
                                    <p class="text-sm-start fs-6 fst-italic">Formato no es válido</p>
                                </span>

                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-key-fill"></i>
                                    </span>
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"
                                        autocomplete="on">
                                </div>
                                <span *ngIf="campoRequerido('password')" class="text-danger">
                                    <p class="text-sm-start fs-6 fst-italic">El password es requerido</p>
                                </span>

                                <div class="form-check">
                                    <input class="form-check-input" formControlName="recordarme" type="checkbox"
                                        id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Recordarme
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-success">
                                        <span class="fs-5">
                                            <i class="bi bi-door-open-fill"></i>
                                        </span>
                                        Ingresar
                                    </button>
                                </div>
                                <div class="mb-1" *ngIf="cargando">
                                    <div class="d-flex justify-content-center alert alert-info text-center"
                                        role="alert">
                                        <div class="spinner-border me-2" role="status">
                                        </div>
                                        <h6 class="alert-heading">Iniciando sesión...</h6>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
    <div class="flex-container">
        <div class="caja-principal">
            <div class="d-flex justify-content-center">
                <img [src]="institucion.img! | imginstitucion" alt=""
                class="img-logo">
            </div>
            <div class="mb-1">
                <form  [formGroup]="loginForm" (ngSubmit)="login()" 
                class="d-flex flex-column" autocomplete="off">
                    <div class="input-group mb-0">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </span>
                        <input type="email" class="form-control me-3" 
                            formControlName="email"
                            placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                    </div>
                    <span *ngIf="campoRequerido('email')" class="text-danger ms-2">
                        <p class="text-sm-start fs-6 fst-italic">El email es requerido</p>
                    </span>
                    <span *ngIf="campoEmail('email')" class="text-danger ms-2">
                        <p class="text-sm-start fs-6 fst-italic">Formato no es válido</p>
                    </span>
                    
                    <div class="input-group mb-0">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </span>
                        <input type="password" class="form-control me-3" 
                        formControlName="password"
                        placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" 
                        autocomplete="on">
                    </div>
                    <span *ngIf="campoRequerido('password')" class="text-danger ms-2">
                        <p class="text-sm-start fs-6 fst-italic">El password es requerido</p>
                    </span>

                    <div class="form-check">
                        <input class="form-check-input" 
                        formControlName="recordarme"
                        type="checkbox"  
                        id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Recordarme
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary"> 
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                            </svg>
                        </span>
                        Ingresar
                    </button>
                </form>
            </div>
            <div class="mb-1" *ngIf="cargando">
                <div class="alert alert-info text-center" role="alert">
                    <h6 class="alert-heading">Cargando...</h6>
                    <div class="spinner-border" role="status">
                    </div>
                    <p>Por favor espera</p>
                </div>
            </div>

        </div>
    </div>
-->
</section>