<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <div class="d-flex justify-content-between align-items-center">
                    <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    <div class="mb-0">
                        <select class="form-select" aria-label="Default select example"
                            [(ngModel)]="periodoseleccionado" (change)="listarProgramaciones()">
                            <option value="">TODOS</option>
                            <option *ngFor="let periodo of periodos" [value]="periodo.id">
                                {{periodo.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <!--
                    <div class="col-12 col-lg-2">
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example"
                                [(ngModel)]="periodoseleccionado" (change)="listarProgramaciones()">
                                <option value="">Seleccionar Periodo</option>
                                <option *ngFor="let periodo of periodos" [value]="periodo.id">
                                    {{periodo.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    -->
                    <div class="col-12 col-lg-12">
                        <div class="d-flex align-items-start mb-2 buscador">
                            <div class="input-group me-0">
                                <span class="input-group-text" id="buscar-algo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </span>
                                <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar"
                                    (keyup)="buscarProgramaciones(txtnombre.value)" #txtnombre
                                    aria-describedby="buscar-algo">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-1" *ngIf="cargando">
                    <div class="alert alert-info text-center" role="alert">
                        <h6 class="alert-heading">Cargando...</h6>
                        <div class="spinner-border" role="status">
                        </div>
                        <p>Por favor espera</p>
                    </div>
                </div>

                <div class="table-responsive mb-1" *ngIf="!cargando">
                    <div class="alert alert-primary" role="alert" *ngIf="programaciones.length==0">
                        No hay registros.
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="programaciones.length>0">
                        <app-totaltable [total]="totalRegistros"></app-totaltable>
                    </div>
                    <table class="table table-bordered table-hover" *ngIf="programaciones.length>0">
                        <thead>
                            <tr>
                                <th scope="col" class="w70">N°</th>
                                <th scope="col">Periodo</th>
                                <th scope="col">Aula</th>
                                <th scope="col">Area</th>
                                <th scope="col">Docente</th>
                                <th scope="col">N° Inscritos</th>
                                <th scope="col" class="w100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let programacion of programaciones; let i=index">
                                <th>{{desde+i+1}}</th>
                                <td>{{programacion.periodo?.nombre}}</td>
                                <td>{{programacion.aula?.nombre}}</td>
                                <td>{{programacion.area?.nombre}}</td>
                                <td>{{programacion.docente?.persona?.nombres}}
                                    {{programacion.docente?.persona?.apellidopaterno}}
                                    {{programacion.docente?.persona?.apellidomaterno}}
                                </td>
                                <td>{{programacion.numeromat}} de {{programacion.numeromaxmat}}</td>
                                <td>
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal"
                                            data-bs-target="#crear" data-bs-placement="top" title="Lista de Alumnos"
                                            (click)="matriculasProgramacion(programacion)">
                                            <span>
                                                <i class="bi bi-people-fill"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-start align-items-start" *ngIf="!cargando">
                    <button [disabled]="da" (click)="cambiarPagina(-5)" type="button"
                        class="btn btn-secondary  btn-sm me-2">
                        <i class="bi bi-arrow-left-square"></i> Anterior
                    </button>
                    <button [disabled]="ds" (click)="cambiarPagina(5)" type="button"
                        class="btn btn-secondary  btn-sm">
                        <i class="bi bi-arrow-right-square"></i> Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content card-color-primary">
            <div class="modal-header card-color-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lista de alumnos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered table-hover" *ngIf="programaciones.length>0">
                            <thead>
                                <tr>
                                    <th scope="col" class="w70">N°</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Apellidos y Nombres</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let matriculadetalle of matriculadetalles; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{matriculadetalle.matricula?.alumno?.persona?.dni}}</td>
                                    <td>{{matriculadetalle.matricula?.alumno?.persona?.apellidopaterno}}
                                        {{matriculadetalle.matricula?.alumno?.persona?.apellidomaterno}}
                                        {{matriculadetalle.matricula?.alumno?.persona?.nombres}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                    <i class="bi bi-x-lg"></i>
                    Cerrar</button>
            </div>
        </div>
    </div>
</div>