<div class="row">
    <div class="col-12 col-lg-3 mb-3 mb-lg-0">
        <div class="row">
            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="horarioForm" (submit)="buscarHorario()">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="periodoId" class="form-label">Periodo</label>
                                                <select class="form-select" aria-label="Seleccionar periodo"
                                                    formControlName="periodoId">
                                                    <option value="">Seleccionar Periodo</option>
                                                    <option *ngFor="let periodo of periodos"
                                                        [value]="[periodo.id,periodo.nombre]">
                                                        {{periodo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                                    class="form-text text-danger">
                                                    La periodo es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <button type="submit" class="d-flex btn btn-primary me-2">
                                            <i class="bi bi-search me-2"></i>
                                            Buscar
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card card-color-primary contenido-principal">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                    </div>
                    <div class="card-body">

                        <ol class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Aula</div>
                                    {{ aulanombre | uppercase}}
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Nivel</div>
                                    {{ nivelnombre | uppercase}}
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Grado</div>
                                    {{ gradonombre | uppercase}}
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Seccion</div>
                                    {{ seccionnombre | uppercase}}
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <div class="d-flex justify-content-between">
                            <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                            <button type="button" class="d-flex btn btn-primary" (click)="actualizarHorario()"
                                *ngIf="datos.length>0">
                                <i class="bi bi-hdd"></i>
                                Actualizar
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12" *ngIf="cargando">
                                <div class="mb-1">
                                    <div class="alert alert-info text-center" role="alert">
                                        <h6 class="alert-heading">Cargando...</h6>
                                        <div class="spinner-border" role="status">
                                        </div>
                                        <p>Por favor espera</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="!cargando">
                                <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                    {{message}}
                                </div>
                                <div class="row m-1 table-responsive" *ngIf="datos.length>0">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let dia of dias" scope="col" class="w300 text-center">
                                                    <p> {{dia.nombre | uppercase}}</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let in of intervalos">
                                                <td *ngFor="let dato of datos.slice(in.inicio,in.final)">
                                                    <p>{{dato.hora.inicio}} - {{dato.hora.fin}}
                                                    </p>
                                                    <select class="form-select" aria-label="Seleccionar area"
                                                        *ngIf="dato.hora.tipo===1" [(ngModel)]="dato.areaId"
                                                        (change)="verificaSeleccion(dato)">
                                                        <option value=0>Seleccionar Area</option>
                                                        <option *ngFor="let area of areas" [value]="area.id">
                                                            {{area.nombre | uppercase}}
                                                        </option>
                                                    </select>
                                                    <strong *ngIf="dato.hora.tipo===0" class="text-center">
                                                        RECREO
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>