<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="repForm" (submit)="buscarNotas()">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="periodoId" class="form-label">Periodo</label>
                                                <select class="form-select" aria-label="Seleccionar periodo"
                                                    formControlName="periodoId" (change)="cargarAlumnos()">
                                                    <option value="">Seleccionar Periodo</option>
                                                    <option *ngFor="let periodo of periodos"
                                                        [value]="[periodo.id,periodo.nombre]">
                                                        {{periodo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                                    class="form-text text-danger">
                                                    La periodo es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="aulaId" class="form-label">Aula</label>
                                                <select class="form-select" aria-label="Seleccionar aula"
                                                    formControlName="aulaId" (change)="cargarAlumnos()">
                                                    <option value="">Seleccionar Aula</option>
                                                    <option *ngFor="let aula of aulas" [value]="[aula.id,aula.nombre]">
                                                        {{aula.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('aulaId')" id="aulaId"
                                                    class="form-text text-danger">
                                                    La aula es requerida
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="cicloId" class="form-label">Ciclo</label>
                                                <select class="form-select" aria-label="Seleccionar ciclo"
                                                    formControlName="cicloId">
                                                    <option value="">Seleccionar ciclo</option>
                                                    <option *ngFor="let ciclo of ciclos"
                                                        [value]="[ciclo.id,ciclo.nombre]">
                                                        {{ciclo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('cicloId')" id="cicloId"
                                                    class="form-text text-danger">
                                                    El ciclo es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="alumnoId" class="form-label">Alumno</label>
                                                <select class="form-select" id="alumnoId" formControlName="alumnoId"
                                                    aria-label="Seleccionar alumno">
                                                    <option value="">Seleccionar alumno</option>
                                                    <option *ngFor="let matriculadetalle of matriculadetalles"
                                                        [value]="[matriculadetalle.matricula?.alumno?.id,
                                                        matriculadetalle.matricula?.alumno?.persona?.apellidopaterno,
                                                        matriculadetalle.matricula?.alumno?.persona?.apellidomaterno,
                                                        matriculadetalle.matricula?.alumno?.persona?.nombres]">
                                                        {{matriculadetalle.matricula?.alumno?.persona?.apellidopaterno}}
                                                        {{matriculadetalle.matricula?.alumno?.persona?.apellidomaterno}}
                                                        {{matriculadetalle.matricula?.alumno?.persona?.nombres}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('alumnoId')" id="alumnoId"
                                                    class="form-text text-danger">
                                                    El alumno es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2">
                                        <i class="bi bi-search"></i>
                                        Buscar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card card-color-primary contenido-principal">
            <div class="card-header card-color-header">
                <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="d-lg-flex d-flex-column justify-content-start mt-1" *ngIf="datos.length>0">
                            <button type="button" class="btn btn-primary btn-sm me-2 mb-1" (click)="generatePDF('OPEN')"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir PDF">
                                <i class="bi bi-printer"></i>
                                Imprimir
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm me-2 mb-1"
                                (click)="generatePDF('DOWNLOAD')" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Descargar PDF">
                                <i class="bi bi-arrow-down-circle"></i>
                                Descargar
                            </button>
                        </div>
                        <div class="mb-1" *ngIf="cargando">
                            <div class="alert alert-info text-center" role="alert">
                                <h6 class="alert-heading">Cargando...</h6>
                                <div class="spinner-border" role="status">
                                </div>
                                <p>Por favor espera</p>
                            </div>
                        </div>

                        <div class="table-responsive mt-2" *ngIf="!cargando">
                            <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                No hay registros.
                            </div>
                            <table class="table table-bordered table-hover" *ngIf="datos.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w70">N°</th>
                                        <th scope="col">Area</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dato of datos; let i= index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{dato.area.nombre}}</td>
                                        <td>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Competencia</th>
                                                        <th>Evaluación</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of dato.notas">
                                                        <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
                                                        <td>{{item.competencia?.descripcion}}</td>
                                                        <td>{{item.evaluacion?.nombre}}</td>
                                                        <td>{{item.valor}}</td>
                                                    </tr>
                                                    <tr *ngIf="dato.notas.length==0">
                                                        <td colspan="3">No hay registros.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>