<div class="row">
    <div class="col-12 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="card contenido-principal">
                    <div class="card-body">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="asisForm" (submit)="buscarAsistencias()">
                                    <div class="row">
        
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="periodoId" class="form-label">Periodo</label>
                                                <select class="form-select" aria-label="Seleccionar periodo"
                                                    formControlName="periodoId">
                                                    <option value="">Seleccionar Periodo</option>
                                                    <option *ngFor="let periodo of periodos"
                                                        [value]="[periodo.id,periodo.nombre]">
                                                        {{periodo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                                    class="form-text text-danger">
                                                    La periodo es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="aulaId" class="form-label">Aula</label>
                                                <select class="form-select" aria-label="Seleccionar aula"
                                                    formControlName="aulaId">
                                                    <option value="">Seleccionar Aula</option>
                                                    <option *ngFor="let aula of aulas"
                                                        [value]="[aula.id,aula.nombre]">
                                                        {{aula.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('aulaId')" id="aulaId"
                                                    class="form-text text-danger">
                                                    El aula es requerido
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="subareaId" class="form-label">Subarea</label>
                                                <select class="form-select" aria-label="Seleccionar aula"
                                                    formControlName="subareaId">
                                                    <option value="">Seleccionar Subarea</option>
                                                    <option *ngFor="let subarea of subareas" 
                                                    [value]="[subarea.id,subarea.nombre]">
                                                        {{subarea.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('subareaId')" id="subareaId"
                                                    class="form-text text-danger">
                                                    La subarea es requerida
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="fecha" class="form-label">Fecha</label>
                                                <input type="date" class="form-control" formControlName="fecha">
                                                <div *ngIf="campoRequerido('fecha')" id="fecha"
                                                    class="form-text text-danger">
                                                    La Fecha  es requerida
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
        
                                    <button type="submit" class="btn btn-primary me-2">
                                        <i class="bi bi-search"></i>
                                        Buscar
                                    </button>
        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-12" *ngIf="datos.length>0">
                    <div class="card contenido-principal">
                        <div class="card-body">
                            <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card w-100">
                                        <div class="card-body">
                                            <h6 class="card-title">Periodo:</h6>
                                            <p class="card-text"> {{ periodonombre | uppercase }}</p>
                                            <h6 class="card-title">Aula:</h6>
                                            <p class="card-text">{{ aulanombre | uppercase }}</p>
                                            <h6 class="card-title">Subarea:</h6>
                                            <p class="card-text">  {{ subareanombre | uppercase }}</p>  
                                            <h6 class="card-title">Docente:</h6>
                                            <p class="card-text">  {{ docentenombre | uppercase }}</p>                             
                                            <h6 class="card-title">Asistencias:</h6>
                                            <p class="card-text"> {{ asistio }}</p>
                                            <h6 class="card-title">Faltas:</h6>
                                            <p class="card-text"> {{ falto }}</p>
                                            <h6 class="card-title">Justificaciones:</h6>
                                            <p class="card-text"> {{ justifico }}</p>
                                            <h6 class="card-title">Total:</h6>
                                            <p class="card-text"> {{ total }}</p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-9">

        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                <div class="row">
                    <div class="col-12">
                     
                        <div class="d-lg-flex d-flex-column justify-content-end mt-1" *ngIf="datos.length>0">
                            <button type="button" class="btn btn-danger btn-sm me-2" (click)="generatePDF('OPEN')"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar PDF">
                                <i class="bi bi-file-earmark-pdf"></i>
                                Visualizar
                            </button>
                            <button type="button" class="btn btn-primary btn-sm me-2" (click)="generatePDF('PRINT')"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir PDF">
                                <i class="bi bi-printer"></i>
                                Imprimir
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm me-2"
                                (click)="generatePDF('DOWNLOAD')" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Descargar PDF">
                                <i class="bi bi-arrow-down-circle"></i>
                                Descargar
                            </button>
                        </div>
                        <div class="mb-1" *ngIf="cargando">
                            <div class="alert alert-info text-center" role="alert">
                                <h6 class="alert-heading">Cargando...</h6>
                                <div class="spinner-border" role="status">
                                </div>
                                <p>Por favor espera</p>
                            </div>
                        </div>
                        <div class="table-responsive mt-2" *ngIf="!cargando">
                            <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                No hay registros.
                            </div>
                            <table class="table table-bordered table-hover" *ngIf="datos.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w70">N°</th>
                                        <th scope="col">Apellidos y Nombres</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Situación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dato of datos; let i= index">
                                        <th>{{i+1}}</th>
                                        <td>{{dato.matricula.alumno?.persona?.apellidopaterno | uppercase}}
                                            {{dato.matricula.alumno?.persona?.apellidomaterno | uppercase}}
                                            {{dato.matricula.alumno?.persona?.nombres | uppercase}}
                                        </td>
                                        <td>
                                            {{dato.fecha | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            <span *ngIf="dato.situacionId==4"
                                                class="badge rounded-pill bg-danger">
                                                {{dato.situacion?.nombre | uppercase}}
                                            </span>
                                            <span *ngIf="dato.situacionId==14"
                                                class="badge rounded-pill bg-success">
                                                {{dato.situacion?.nombre | uppercase}}
                                            </span>
                                            <span *ngIf="dato.situacionId==24"
                                                class="badge rounded-pill bg-primary">
                                                {{dato.situacion?.nombre | uppercase}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="table-responsive mt-2 mb-1" *ngIf="datos.length>0">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">RESUMEN</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="w70">ASISTIÓ</th>
                                        <td class="text-center">{{asistio}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="w70">FALTÓ</th>
                                        <td class="text-center">{{falto}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="w70">JUSTIFICÓ</th>
                                        <td class="text-center">{{justifico}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="w70">TOTAL</th>
                                        <td class="text-center">{{total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>