.logo img{
	max-width: 8rem;
	height: 8rem;
}
.acerca-de .foto{
    background-color: #fff;
}
.acerca-de .foto .nombre {
	color: #000;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 2px;
}

.acerca-de .foto img{
   max-width: 125px;
   max-height: 125px;
}

.acerca-de .info  {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin-bottom: 30px;
}