<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <div class="d-flex justify-content-between">
                    <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    <div class="mb-0">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="rolseleccionado"
                            (change)="listarUsuarios()">
                            <option value="">TODOS</option>
                            <option *ngFor="let role of roles" [value]="role.id">
                                {{role.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="d-flex align-items-start mb-2 buscador">
                            <div class="input-group me-0">
                                <span class="input-group-text" id="buscar-algo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </span>
                                <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar"
                                    aria-describedby="buscar-algo" (keyup)="buscarUsuarios(txtTermino.value)"
                                    #txtTermino>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-1" *ngIf="cargando">
                    <div class="alert alert-info text-center" role="alert">
                        <h6 class="alert-heading">Cargando...</h6>
                        <div class="spinner-border" role="status">
                        </div>
                        <p>Por favor espera</p>
                    </div>
                </div>
                <div class="table-responsive mb-1" *ngIf="!cargando">
                    <div class="alert alert-primary" role="alert" *ngIf="usuarios.length==0">
                        No hay registros.
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="usuarios.length>0">
                        <app-totaltable [total]="totalRegistros"></app-totaltable>
                    </div>
                    <table class="table table-bordered table-hover" *ngIf="usuarios.length>0">
                        <thead>
                            <tr>
                                <th scope="col" class="w70">N°</th>
                                <th scope="col" class="w100"></th>
                                <th scope="col" class="w100">Número</th>
                                <th scope="col">Nombres y Apellidos</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Email</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Situación</th>
                                <th scope="col" class="w100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios; let i=index">
                                <th>{{desde+i+1}}</th>
                                <th class="text-center">
                                    <img [src]="usuario.persona.img! | imagen" class="imgTable cursor" alt=""
                                        (click)="resetearImagen(usuario)">
                                </th>
                                <td>{{usuario.persona?.dni}}</td>
                                <td>
                                    {{usuario.persona?.nombres | uppercase}}
                                    {{usuario.persona?.apellidopaterno | uppercase}}
                                    {{usuario.persona?.apellidomaterno | uppercase}}
                                </td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.email}}</td>
                                <td>
                                    <h6>
                                        <span class="badge rounded-pill {{usuario.role.bgcolor}}">
                                            {{usuario.role.nombre}}
                                        </span>
                                    </h6>
                                </td>

                                <td>
                                    <h6 *ngIf="usuario.habilitado" (click)="cambiarSituacion(usuario)">
                                        <span class="badge rounded-pill bg-success cursor">
                                            ACTIVO
                                        </span>
                                    </h6>
                                    <h6 *ngIf="!usuario.habilitado" (click)="cambiarSituacion(usuario)">
                                        <span class="badge rounded-pill bg-danger cursor">
                                            NO ACTIVO
                                        </span>
                                    </h6>
                                </td>

                                <td>
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-primary me-1" data-bs-placement="top"
                                            title="Cambiar Password" data-bs-toggle="modal" data-bs-target="#editar"
                                            (click)="resetearPassword(usuario)">
                                            <span>
                                                <i class="bi bi-key"></i>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-success me-1" data-bs-placement="top"
                                            title="Editar" data-bs-toggle="modal" data-bs-target="#crear"
                                            (click)="editarUsuario(usuario)">
                                            <span>
                                                <i class="bi bi-pen"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-start align-items-start" *ngIf="!cargando">
                    <button [disabled]="da" (click)="cambiarPagina(-5)" type="button"
                        class="btn btn-secondary  btn-sm me-2">
                        <i class="bi bi-arrow-left-square"></i> Anterior
                    </button>
                    <button [disabled]="ds" (click)="cambiarPagina(5)" type="button" class="btn btn-secondary  btn-sm">
                        <i class="bi bi-arrow-right-square"></i> Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card-color-primary">
            <div class="modal-header card-color-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{titleModal}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="usuarioForm" autocomplete="off" (submit)="actualizarUsuario()">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre"
                            placeholder="Nombre">
                        <div class="form-text text-danger" *ngIf="campoRequerido('nombre')">
                            El campo nombre es requerido
                        </div>
                        <div class="form-text text-danger" *ngIf="campoMaxLengh('nombre',20)">
                            El campo nombre debe tener como maximo 20 caracteres
                        </div>
                    </div>
                    <!--
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                        <div class="form-text text-danger" *ngIf="campoRequerido('email')">
                            El campo email es requerido
                        </div>
                        <div class="form-text text-danger" *ngIf="campoMaxLengh('email',30)">
                            El campo email debe tener como maximo 30 caracteres
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label">Role</label>
                        <select class="form-select" aria-label="Default select example" formControlName="roleId">
                            <option value="">Seleccionar el role</option>
                            <option *ngFor="let role of roles" [value]="role.id">
                                {{role.nombre}}
                            </option>
                        </select>
                        <div *ngIf="campoRequerido('roleId')" id="roleId" class="form-text text-danger">
                            El campo role es requerido
                        </div>
                    </div>
                    -->
                    <div class="mb-3 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal"
                            #closebutton>Cancelar</button>
                        <button type="submit" class="btn btn-primary">{{titleButton}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card-color-primary">
            <div class="modal-header card-color-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cambiar Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="passForm" autocomplete="off" (submit)="actualizarPassword()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label">Password</label>
                        <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-key-fill"></i>
                            </span>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                placeholder="Password" aria-label="password" aria-describedby="basic-addon1"
                                autocomplete="off">
                        </div>
                        <div class="form-text text-danger" *ngIf="campoRequerido2('password')">
                            El campo password es requerido
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput4" class="form-label">Repita password</label>
                        <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-key-fill"></i>
                            </span>
                            <input type="password" class="form-control" id="password2" formControlName="password2"
                                placeholder="Repita password" aria-label="password2" aria-describedby="basic-addon2"
                                autocomplete="off">
                        </div>
                        <div id="password2" class="form-text text-danger" *ngIf="contrasenasNoValidas()">
                            Los passwords deben ser iguales
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        #closebutton2>Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>