<div class="row">
    <div class="col-12 col-lg-3 mb-3 mb-lg-0">
        <div class="row">
            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="asisForm" (submit)="buscarAsistencias()">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="periodoId" class="form-label">Periodo</label>
                                                <select class="form-select" aria-label="Seleccionar periodo"
                                                    formControlName="periodoId">
                                                    <option value="">Seleccionar Periodo</option>
                                                    <option *ngFor="let periodo of periodos"
                                                        [value]="[periodo.id,periodo.nombre]">
                                                        {{periodo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                                    class="form-text text-danger">
                                                    La periodo es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="aulaId" class="form-label">Aula</label>
                                                <select class="form-select" aria-label="Seleccionar aula"
                                                    formControlName="aulaId">
                                                    <option value="">Seleccionar Aula</option>
                                                    <option *ngFor="let aula of aulas" [value]="[aula.id,aula.nombre]">
                                                        {{aula.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('aulaId')" id="aulaId"
                                                    class="form-text text-danger">
                                                    El aula es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="fechainicial" class="form-label">Fecha Inicial</label>
                                                <input type="date" class="form-control" formControlName="fechainicial">
                                                <div *ngIf="campoRequerido('fechainicial')" id="fechainicial"
                                                    class="form-text text-danger">
                                                    La Fecha Inicial es requerida
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="fechafinal" class="form-label">Fecha Final</label>
                                                <input type="date" class="form-control" formControlName="fechafinal">
                                                <div *ngIf="campoRequerido('fechafinal')" id="fechafinal"
                                                    class="form-text text-danger">
                                                    La Fecha Final es requerida
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary me-2">
                                        <i class="bi bi-search"></i>
                                        Buscar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-12" *ngIf="datos.length>0">
                    <div class="card card-color-primary contenido-principal">
                        <div class="card-header card-color-header">
                            <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card w-100">
                                        <div class="card-body">
                                            <h6 class="card-title">Periodo:</h6>
                                            <p class="card-text"> {{ periodonombre | uppercase }}</p>
                                            <h6 class="card-title">Aula:</h6>
                                            <p class="card-text">{{ aulanombre | uppercase }}</p>
                                            <h6 class="card-title">Rango Fechas:</h6>
                                            <p class="card-text"> Desde: {{ fechai }} Hasta: {{fechaf }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-9">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">

                        <div class="d-lg-flex d-flex-column justify-content-start mt-1" *ngIf="datos.length>0">
                            <button type="button" class="btn btn-primary btn-sm me-2" (click)="generatePDF('OPEN')"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir PDF">
                                <i class="bi bi-printer"></i>
                                Imprimir
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm me-2"
                                (click)="generatePDF('DOWNLOAD')" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Descargar PDF">
                                <i class="bi bi-arrow-down-circle"></i>
                                Descargar
                            </button>
                            <button class="btn btn-sm btn-warning me-2 mb-1 mb-md-0" data-bs-toggle="modal"
                                data-bs-target="#barra" data-bs-placement="top" title="Gráfico de Barras"
                                (click)="generarBarras()">
                                <i class="bi bi-bar-chart-line"></i>
                                Barras
                            </button>
                            <button class="btn btn-sm btn-danger me-2 mb-1" data-bs-toggle="modal"
                                data-bs-target="#sector" data-bs-placement="top" title="Gráfico de Sectores"
                                (click)="generarBarras()">
                                <i class="bi bi-pie-chart"></i>
                                Sectores
                            </button>
                            <button class="btn btn-sm btn-info me-2 mb-1" data-bs-toggle="modal" data-bs-target="#linea"
                                data-bs-placement="top" title="Gráfico de Lineas" (click)="generarBarras()">
                                <i class="bi bi-graph-up"></i>
                                Lineas
                            </button>
                        </div>

                        <div class="mb-1" *ngIf="cargando">
                            <div class="alert alert-info text-center" role="alert">
                                <h6 class="alert-heading">Cargando...</h6>
                                <div class="spinner-border" role="status">
                                </div>
                                <p>Por favor espera</p>
                            </div>
                        </div>

                        <div class="table-responsive mt-2" *ngIf="!cargando">
                            <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                No hay registros.
                            </div>
                            <table class="table table-bordered table-hover" *ngIf="datos.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w70">N°</th>
                                        <th scope="col">Apellidos y nombres</th>
                                        <th scope="col">Aula</th>
                                        <th scope="col" class="w70">A</th>
                                        <th scope="col" class="w70">F</th>
                                        <th scope="col" class="w70">J</th>
                                        <th scope="col" class="w70">T</th>
                                        <th scope="col" class="w70">NR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dato of datos; let i= index">
                                        <th>{{i+1}}</th>
                                        <td>
                                            {{dato.alumno.matricula?.alumno?.persona?.apellidopaterno}}
                                            {{dato.alumno.matricula?.alumno?.persona?.apellidomaterno}}
                                            {{dato.alumno.matricula?.alumno?.persona?.nombres}}
                                        </td>
                                        <td>{{dato.alumno.programacion?.aula?.nombre}}</td>
                                        <td>{{dato.asistencia}}</td>
                                        <td>{{dato.falta}}</td>
                                        <td>{{dato.justifica}}</td>
                                        <td>{{dato.tardanza}}</td>
                                        <td>{{dato.noregistro}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="table-responsive mt-2 mb-1" *ngIf="datos.length>0">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th colspan="3" class="text-center">RESUMEN</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Asistencias</th>
                                        <td class="text-center">{{asistiototal}}</td>
                                        <td class="text-center">{{ (asistiototal/total)*100 }} %</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Faltas</th>
                                        <td class="text-center">{{faltototal}}</td>
                                        <td class="text-center">{{ (faltototal/total)*100 }} %</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Justificaciones</th>
                                        <td class="text-center">{{justificototal}}</td>
                                        <td class="text-center">{{ (justificototal/total)*100 }} %</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Tardanzas</th>
                                        <td class="text-center">{{tardanzatotal}}</td>
                                        <td class="text-center">{{ (tardanzatotal/total)*100 }} %</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">No registrado</th>
                                        <td class="text-center">{{noregistrototal}}</td>
                                        <td class="text-center">{{ (noregistrototal/total)*100 }} %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="barra" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Gráfico de Barras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <canvas baseChart [data]="salesData" [type]="'bar'" [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                    <i class="bi bi-x-lg"></i>
                    Salir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sector" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Gráfico de Sectores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <canvas baseChart [data]="salesData" [type]="'pie'" [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                    <i class="bi bi-x-lg"></i>
                    Salir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="linea" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Gráfico de Lineas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <canvas baseChart [data]="salesData" [type]="'line'" [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                    <i class="bi bi-x-lg"></i>
                    Salir</button>
            </div>
        </div>
    </div>
</div>