<header class="fixed-top py-0">
    <div class="container-fluid">

        <div class="row caja-nueva">
            <div class="col-12 d-flex justify-content-start align-items-center">
                <a  class="navbar-brand">
                    <img [src]="institucion.img! | imginstitucion" alt="" 
                    class="imagen-logo-fila">
                </a>
                <small class="titulo-logo-fila">{{institucion.nombre | uppercase}}</small>
            </div>
        </div>


        <div class="row d-flex justify-content-between align-items-center g-0">
            <nav class="menu col-12 col-lg-10 navbar navbar-expand-lg navbar-light order-1 
            order-lg-1">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                        aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a routerLinkActive="active" routerLink="" class="nav-link" aria-current="page">
                                    Inicio
                                </a>
                            </li>
                            <li class="nav-item dropdown" *ngFor="let item of menuItems">

                                <a *ngIf="item.url !==''" routerLinkActive="active" routerLink="{{item.url}}"
                                    class="nav-link" aria-current="page">
                                    {{item.titulo}}
                                </a>

                                <a *ngIf="item.url ===''" routerLinkActive="active" href="#"
                                    class="nav-link {{item.toggle}}" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" id="dropdown-menu">
                                    {{item.titulo}}
                                </a>

                                <ul *ngIf="item.submenu.length>0" class="dropdown-menu" aria-labelledby="dropdown-menu">
                                    <li *ngFor="let subitem of item.submenu">
                                        <a routerLinkActive="active" routerLink="{{subitem.url}}" class="dropdown-item">
                                            {{ subitem.titulo }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown d-block d-lg-none">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" id="dropdown-menu">
                                    Perfil
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                                    <li>
                                        <h6 class="dropdown-header">{{usuario.role.nombre}}</h6>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a routerLinkActive="active" routerLink="perfil"
                                            class="dropdown-item">Perfil</a></li>
                                    <li><a (click)="logout()" class="dropdown-item cursor">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="botones col-auto col-lg-2  
            justify-content-end order-2 order-lg-2  d-none d-lg-block ">

                <div class="dropdown">
                    <a href="#" class="dropdown-toggle perfil enlace1 text-center" type="button" id="dropdown-1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="usuario.persona.img! | imagen" alt="">{{usuario.nombre}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-2">
                        <li>
							<h6 class="dropdown-header">{{usuario.role.nombre}}</h6>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
                        <li><a routerLinkActive="active" routerLink="perfil" class="dropdown-item">Perfil</a></li>
                        <li><a (click)="logout()" class="dropdown-item cursor">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>