<header class="fixed-top shadow py-0">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center caja-nueva">
            <div class="d-flex justify-content-start align-items-center">
                <a class="navbar-brand">
                    <img [src]="institucion.img! | imginstitucion" alt="imagen logo" class="img-fluid imagen-logo-fila">
                </a>
                <small class="titulo-logo-fila">{{institucion.nombre | uppercase}}</small>
            </div>
            <nav class="dropdown botones d-none d-md-block">
                <a href="#" class="dropdown-toggle perfil enlace1 text-center" type="button" id="dropdown-1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img [src]="usuario.persona.img! | imagen" alt="imagen usuario">{{usuario.nombre}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-2">
                    <li>
                        <div class="d-flex flex-column align-items-center">
                            <img [src]="usuario.persona.img! | imagen" alt="imagen usuario" 
                            class="img-fluid imagen-persona">
                            <h6 class="dropdown-header">{{usuario.role.nombre}}</h6>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a routerLinkActive="active" routerLink="perfil" class="dropdown-item">
                            <i class="bi bi-postcard me-2"></i>Perfil</a></li>
                    <li><a (click)="logout()" class="dropdown-item cursor">
                            <i class="bi bi-door-open me-2"></i>Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
        <div class="row d-flex justify-content-between align-items-center g-0 menu">
            <nav class="menu col-12 col-lg-10 navbar navbar-expand-lg navbar-light order-1 
            order-lg-1">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                        aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a routerLinkActive="active" routerLink="" class="nav-link" aria-current="page">
                                    <i class="bi bi-speedometer"></i>
                                    Inicio
                                </a>
                            </li>
                            <li class="nav-item dropdown" *ngFor="let item of menuItems">
                                <a *ngIf="item.url !==''" routerLinkActive="active" routerLink="{{item.url}}"
                                    class="nav-link" aria-current="page">
                                    <i class="{{item.icono}}"></i>
                                    {{item.titulo}}
                                </a>
                                <a *ngIf="item.url ===''" routerLinkActive="active" href="#"
                                    class="nav-link {{item.toggle}}" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" id="dropdown-menu">
                                    <i class="{{item.icono}}"></i>
                                    {{item.titulo}}
                                </a>
                                <ul *ngIf="item.submenu.length>0" class="dropdown-menu" aria-labelledby="dropdown-menu">
                                    <li *ngFor="let subitem of item.submenu">
                                        <a routerLinkActive="active" routerLink="{{subitem.url}}" class="dropdown-item">
                                            <i class="{{subitem.icono}}"></i>
                                            {{ subitem.titulo }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown d-block d-lg-none">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" id="dropdown-menu">
                                    <i class="bi bi-person"></i>
                                    Perfil
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                                    <li>
                                        <h6 class="dropdown-header">{{usuario.role.nombre}}</h6>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a routerLinkActive="active" routerLink="perfil" class="dropdown-item"><i
                                                class="bi bi-postcard me-2"></i>Perfil</a></li>
                                    <li><a (click)="logout()" class="dropdown-item cursor"><i
                                                class="bi bi-door-open me-2"></i>Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>