<div class="row">
    <div class="col-12 col-lg-5 mb-3 mb-lg-0">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <div class="mb-3">
                                <ng-select [(ngModel)]="selectedAlumno" (change)="alumnoSeleccionado()"
                                    placeholder="Buscar alumno">
                                    <ng-option *ngFor="let alumno of alumnos"
                                        [value]="[alumno.id,alumno.persona?.dni,alumno.persona?.nombres,alumno.persona?.apellidopaterno,alumno.persona?.apellidomaterno,alumno.persona?.img]">
                                        {{alumno.persona?.dni}} -
                                        {{alumno.persona?.apellidopaterno}} {{alumno.persona?.apellidomaterno}}
                                        {{alumno.persona?.nombres}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="campoRequerido('alumnoId')" id="alumnoId" class="form-text text-danger">
                                    El alumno es requerido
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="existeAlumno">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-between mb-2 mt-2">
                                            <img [src]="alumno_img | imagen"
                                                class="rounded-circle mt-4 border border-2 me-2" alt=""
                                                style="width: 95px; height: 95px;">
                                            <div class="card w-100">
                                                <div class="card-body">
                                                    <h6 class="card-title">DNI:</h6>
                                                    <p class="card-text">{{alumno_numero}}</p>
                                                    <h6 class="card-title">Nombres y Apellidos:</h6>
                                                    <p class="card-text">
                                                        {{alumno_nombres}}
                                                        {{alumno_apellidopaterno}}
                                                        {{alumno_apellidomaterno}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-7">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2">
                    <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                    <div class="d-flex justify-content-between">
                        <div class="col d-flex justify-content-start gap-2">
                            <button type="button" class="btn btn-primary btn-sm" (click)="guardarMatricula()">
                                <i class="bi bi-hdd"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="matriculaForm" (submit)="generarMatricula()">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label for="periodoId" class="form-label">Periodo</label>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="periodoId">
                                            <option value="">Seleccionar periodo</option>
                                            <option *ngFor="let periodo of periodos" [value]="periodo.id">
                                                {{periodo.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                            class="form-text text-danger">
                                            El periodo es requerido
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label for="aulaId" class="form-label">Aula</label>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="aulaId">
                                            <option value="">Seleccionar aula</option>
                                            <option *ngFor="let aula of aulas"
                                                [value]="[aula.id,aula.nombre,aula.nivel,aula.grado,aula.seccion]">
                                                {{aula.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('aulaId')" id="aulaId" class="form-text text-danger">
                                            El aula es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="bi bi-search"></i>
                                Buscar
                            </button>
                        </form>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-primary" role="alert" *ngIf="programaciones.length==0">
                                    No hay registros.
                                </div>
                            </div>
                            <div class="col-12" *ngIf="programaciones.length>0">
                                <div class="table-responsive mb-1">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="w70">Periodo</th>
                                                <th scope="col">Aula</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Docente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of programaciones">
                                                <td>{{p.periodo?.nombre}}</td>
                                                <td>{{p.aula?.nombre}}</td>
                                                <td>{{p.area?.nombre}}</td>
                                                <td>{{p.docente?.persona?.nombres}}
                                                    {{p.docente?.persona?.apellidopaterno}}
                                                    {{p.docente?.persona?.apellidomaterno}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>