<div class="row">
    <div class="col-12 col-lg-4">

        <div class="row">
            <div class="col-12">
                <div class="card contenido-principal">
                    <div class="card-body">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="asisForm" (submit)="guardarAsistencias()">
                                    <div class="row">

                                        <div class="col-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="fecha" class="form-label">Fecha</label>
                                                <input type="date" class="form-control" formControlName="fecha"
                                                    [ngClass]="{ isDisabled: true }">
                                                <div *ngIf="campoRequerido('fecha')" id="fecha"
                                                    class="form-text text-danger">
                                                    La fecha es requerida
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary me-2" [disabled]="datos.length==0">
                                        <i class="bi bi-cloud-arrow-up"></i>
                                        Guardar
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card contenido-principal">
                    <div class="card-body">
                        <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                        <div class="row">
                            <div class="col-12">
                                <div class="card w-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Periodo:</h6>
                                        <p class="card-text"> {{ periodonombre | uppercase }}</p>
                                        <h6 class="card-title">Aula:</h6>
                                        <p class="card-text">{{ aulanombre | uppercase }}</p>
                                        <h6 class="card-title">Area:</h6>
                                        <p class="card-text"> {{ areanombre | uppercase }}</p>
                                        <h6 class="card-title">Subarea:</h6>
                                        <p class="card-text"> {{ subareanombre | uppercase }}</p>
                                        <h6 class="card-title">Docente:</h6>
                                        <p class="card-text"> {{ docentenombre | uppercase }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-lg-8">
        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-1" *ngIf="cargando">
                            <div class="alert alert-info text-center" role="alert">
                                <h6 class="alert-heading">Cargando...</h6>
                                <div class="spinner-border" role="status">
                                </div>
                                <p>Por favor espera</p>
                            </div>
                        </div>
                      
                        <div class="table-responsive" *ngIf="!cargando">
                            <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                {{messageInfo}}
                            </div>
                            <table class="table table-bordered table-hover" *ngIf="datos.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="w70">N°</th>
                                        <th scope="col">Apellidos y Nombres</th>
                                        <th scope="col" class="w100">Situación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dato of datos; let i= index">
                                        <th>{{i+1}}</th>
                                        <td>{{dato.matricula?.alumno?.persona?.apellidopaterno | uppercase}}
                                            {{dato.matricula?.alumno?.persona?.apellidomaterno | uppercase}}
                                            {{dato.matricula?.alumno?.persona?.nombres | uppercase}}
                                        </td>

                                        <td>
                                            <span class="badge rounded-pill bg-{{dato.color}} cursor"
                                                (click)="cambiarEstado(dato)">
                                                {{dato.texto}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>