<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <p class="text-secondary fw-bold">
                                Los campos marcados con <span class="text-danger fw-bold">*</span> 
                                son obligatorios. 
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <form [formGroup]="aulaForm" (submit)="crearAula()" autocomplete="off">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="mb-3">
                                        <div class="d-flex align-items-center gap-2 mb-2">
                                            <label for="nivelId" class="form-label m-0">Nivel</label>
                                            <span class="text-danger fw-bold">*</span>                                               
                                        </div>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="nivelId">
                                            <option value="">Seleccionar nivel</option>
                                            <option *ngFor="let nivel of niveles" [value]="nivel.id">
                                                {{nivel.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('nivelId')" id="nivelId"
                                            class="form-text text-danger">
                                            El nivel es requerido
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex align-items-center gap-2 mb-2">
                                            <label for="gradoId" class="form-label m-0">Grado</label>
                                            <span class="text-danger fw-bold">*</span>                                               
                                        </div>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="gradoId">
                                            <option value="">Seleccionar grado</option>
                                            <option *ngFor="let grado of grados" [value]="grado.id">
                                                {{grado.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('gradoId')" id="gradoId"
                                            class="form-text text-danger">
                                            El grado es requerido
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="d-flex align-items-center gap-2 mb-2">
                                            <label for="seccionId" class="form-label m-0">Seccion</label>
                                            <span class="text-danger fw-bold">*</span>                                               
                                        </div>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="seccionId">
                                            <option value="">Seleccionar seccion</option>
                                            <option *ngFor="let seccion of secciones" [value]="seccion.id">
                                                {{seccion.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('seccionId')" id="seccionId"
                                            class="form-text text-danger">
                                            La seccion es requerida
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="d-flex align-items-center gap-2 mb-2">
                                            <label for="nombre" class="form-label m-0">Nombre</label>
                                            <span class="text-danger fw-bold">*</span>                                               
                                        </div>
                                        <input type="text" class="form-control" formControlName="nombre" id="nombre"
                                            aria-describedby="nombre">
                                        <div id="nombre" class="form-text text-danger" *ngIf="campoRequerido('nombre')">
                                            El campo nombre es requerido
                                        </div>
                                        <div id="nombre" class="form-text text-danger"
                                            *ngIf="campoMaxLengh('nombre',20)">
                                            El campo nombre debe tener como maximo 40 caracteres
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex align-items-center gap-2 mb-2">
                                            <label for="tipovalor" class="form-label m-0">Tipo Evaluacion</label>
                                            <span class="text-danger fw-bold">*</span>                                               
                                        </div>
                                        <select class="form-select" name="tipovalor" id="tipovalor" 
                                        formControlName="tipovalor">
                                            <option value="">Seleccionar tipo evaluacion</option>
                                            <option *ngFor="let tipovalor of tipovalores" value="{{tipovalor.id}}">
                                                {{tipovalor.nombre}}
                                            </option>
                                        </select>
                                        <div id="nombre" class="form-text text-danger" *ngIf="campoRequerido('tipovalor')">
                                            El campo tipo evaluacion es requerido
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-hdd"></i>
                                        Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>