<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo1" [icono]="icono1"></app-headertable>
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="notaForm" (submit)="buscarNotas()">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="mb-3">
                                        <label for="cicloId" class="form-label">Ciclo</label>
                                        <select class="form-select" aria-label="Seleccionar Ciclo"
                                            formControlName="cicloId">
                                            <option value="">Seleccionar ciclo</option>
                                            <option *ngFor="let ciclo of ciclos" [value]="[ciclo.id,ciclo.nombre]">
                                                {{ciclo.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('cicloId')" id="periodoId"
                                            class="form-text text-danger">
                                            La ciclo es requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="mb-3">
                                        <label for="evaluacionId" class="form-label">Evaluacion</label>
                                        <select class="form-select" aria-label="Seleccionar Evaluacion"
                                            formControlName="evaluacionId">
                                            <option value="">Seleccionar evaluacion</option>
                                            <option *ngFor="let evaluacion of evaluaciones"
                                                [value]="[evaluacion.id,evaluacion.nombre]">
                                                {{evaluacion.nombre}}
                                            </option>
                                        </select>
                                        <div *ngIf="campoRequerido('evaluacionId')" id="evaluacionId"
                                            class="form-text text-danger">
                                            La evaluacion es requerida
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">
                                <i class="bi bi-search"></i>
                                Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-8">
        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-1" *ngIf="cargando">
                            <div class="alert alert-info text-center" role="alert">
                                <h6 class="alert-heading">Cargando...</h6>
                                <div class="spinner-border" role="status">
                                </div>
                                <p>Por favor espera</p>
                            </div>
                        </div>
                        <div class="table-responsive" *ngIf="!cargando">
                            <div class="alert alert-primary" role="alert" *ngIf="notas.length==0">
                                No hay registros.
                            </div>
                            <div class="d-lg-flex d-flex-column justify-content-start mt-1 mb-2" *ngIf="notas.length>0">

                                <button type="button" class="btn btn-success btn-sm me-2" (click)="coversionNotas()"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="{{mensajeboton}}">
                                    <i class="bi bi-arrow-repeat"></i>
                                    Convertir
                                </button>
                                <button type="button" class="btn btn-danger btn-sm me-2" (click)="generatePDF('OPEN')"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar PDF">
                                    <i class="bi bi-file-earmark-pdf"></i>
                                    Visualizar
                                </button>
                                <button type="button" class="btn btn-primary btn-sm me-2" (click)="generatePDF('PRINT')"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir PDF">
                                    <i class="bi bi-printer"></i>
                                    Imprimir
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm me-2"
                                    (click)="generatePDF('DOWNLOAD')" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Descargar PDF">
                                    <i class="bi bi-arrow-down-circle"></i>
                                    Descargar
                                </button>
                            </div>


                            <table class="table table-bordered table-hover" *ngIf="notas.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Ciclo</th>
                                        <th scope="col">Evaluación</th>
                                        <th scope="col" class="w70">Nota</th>
                                        <th scope="col" class="w70">Situación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let nota of notasAux; let i=index">
                                        <th>{{ i+1 }}</th>
                                        <td>{{nota.fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{nota.ciclo}}</td>
                                        <td>{{nota.evaluacion}}</td>
                                        <td>
                                            <small *ngIf="bandBoton===0">{{nota.valor}}</small>
                                            <small *ngIf="bandBoton===1">{{nota.valorletra}}</small>
                                        </td>
                                        <td>
                                            <span class="badge rounded-pill bg-{{nota.alias}}"
                                                >
                                                {{nota.situacion}}
                                            </span>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4" *ngIf="notas.length>0">
        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-primary" role="alert" *ngIf="notas.length==0">
                            No hay resumen.
                        </div>
                        <div class="card w-100" *ngIf="notas.length>0">
                            <div class="card-body">
                                <h6 class="card-title">Periodo:</h6>
                                <p class="card-text"> {{ periodonombre }}</p>
                                <h6 class="card-title">Aula:</h6>
                                <p class="card-text">{{ aulanombre }}</p>
                                <h6 class="card-title">Subarea:</h6>
                                <p class="card-text"> {{ subareanombre }}</p>
                                <h6 class="card-title">Docente:</h6>
                                <p class="card-text"> {{ docentenombre }}</p>
                                <h6 class="card-title">Alumno:</h6>
                                <p class="card-text"> {{ alumnonombre }}</p>
                                <h6 class="card-title">Ciclo:</h6>
                                <p class="card-text"> {{ ciclonombre }}</p>
                                <h6 class="card-title">Evaluación:</h6>
                                <p class="card-text"> {{ evaluacionnombre }}</p>
                                <h6 class="card-title">Promedio:</h6>
                                <p class="card-text" *ngIf="bandBoton===0"> {{ promediototal }}</p>
                                <p class="card-text" *ngIf="bandBoton===1"> {{ promediototalletra }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>