<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center 
                gap-2">
                    <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    <div class="d-flex justify-content-between align-items-center gap-2">
                        <a routerLink="crear" type="button" class="d-flex btn btn-primary">
                            <i class="bi bi-plus-square me-2"></i>
                            Nuevo</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-start mb-2 buscador">
                    <div class="input-group me-0">
                        <span class="input-group-text" id="buscar-algo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>
                        <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar"
                            aria-describedby="buscar-algo" (keyup)="buscarMatriculas(txtTermino.value)" #txtTermino>
                    </div>
                </div>
                <div class="mb-1" *ngIf="cargando">
                    <div class="alert alert-info text-center" role="alert">
                        <h6 class="alert-heading">Cargando...</h6>
                        <div class="spinner-border" role="status">
                        </div>
                        <p>Por favor espera</p>
                    </div>
                </div>

                <div class="table-responsive mb-1" *ngIf="!cargando">
                    <div class="alert alert-primary" role="alert" *ngIf="matriculas.length==0">
                        No hay registros.
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="matriculas.length>0">
                        <app-totaltable [total]="totalRegistros"></app-totaltable>
                    </div>
                    <table class="table table-bordered table-hover" *ngIf="matriculas.length>0">
                        <thead>
                            <tr>
                                <th scope="col" class="w70">N°</th>
                                <th scope="col" class="w70">DNI</th>
                                <th scope="col">Apellidos y nombres</th>
                                <th scope="col" class="w70">Fecha</th>
                                <th scope="col">Hora</th>
                                <th scope="col" class="w70"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let matricula of matriculas; let i=index">
                                <th>{{desde+i+1}}</th>
                                <td>{{matricula.alumno?.persona?.dni | uppercase}}</td>
                                <td>
                                    {{matricula.alumno?.persona?.apellidopaterno | uppercase}}
                                    {{matricula.alumno?.persona?.apellidomaterno | uppercase}}
                                    {{matricula.alumno?.persona?.nombres | uppercase}}
                                </td>
                                <td>{{matricula.fecha | date:'dd/MM/yyyy'}}</td>
                                <td>{{matricula.hora}}</td>
                                <td>
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-secondary me-1" data-bs-toggle="modal"
                                            data-bs-target="#detalle" data-bs-placement="top"
                                            (click)="detalleMatricula(matricula)" title="Detalle">
                                            <span>
                                                <i class="bi bi-file-earmark-ruled"></i>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-success me-1" data-bs-placement="top"
                                            title="Editar">
                                            <span>
                                                <i class="bi bi-pen"></i>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-placement="top"
                                            title="Eliminar" (click)="eliminarMatricula(matricula)">
                                            <span>
                                                <i class="bi bi-x-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-start align-items-start" *ngIf="!cargando">
                    <button [disabled]="da" (click)="cambiarPagina(-5)" type="button" class="btn btn-secondary  btn-sm me-2">
                        <i class="bi bi-arrow-left-square"></i> Anterior
                    </button>
                    <button [disabled]="ds" (click)="cambiarPagina(5)" type="button" class="btn btn-secondary  btn-sm">
                        <i class="bi bi-arrow-right-square"></i> Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card-color-primary">
            <div class="modal-header card-color-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detalle Matricula</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between mb-2 mt-2">
                        <img [src]="matricula.img | imagen" class="rounded-circle mt-4 border border-2 me-2" alt=""
                            style="width: 95px; height: 95px;">
                        <div class="card w-100">
                            <div class="card-body">
                                <h6 class="card-title">Periodo:</h6>
                                <p class="card-text">{{matricula.periodonombre}}</p>
                                <h6 class="card-title">Aula:</h6>
                                <p class="card-text">{{matricula.aulanombre}}</p>
                                <h6 class="card-title">DNI:</h6>
                                <p class="card-text">{{matricula.dni}}</p>
                                <h6 class="card-title">Nombres y Apellidos:</h6>
                                <p class="card-text">{{matricula.nombres}} {{matricula.apellidos}}</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                    <i class="bi bi-x-lg"></i>
                    Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="imprimirMatricula('OPEN')">
                    <i class="bi bi-hdd"></i>
                    Imprimir</button>
            </div>
        </div>
    </div>
</div>