<div class="row">
    <div class="col-12 mb-3">
        <div class="row">
            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo" [icono]="icono"></app-headertable>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="repForm" (submit)="buscarNotas()">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="periodoId" class="form-label">Periodo</label>
                                                <select class="form-select" aria-label="Seleccionar periodo"
                                                    formControlName="periodoId" (change)="cargarMatriculas()">
                                                    <option value="">Seleccionar Periodo</option>
                                                    <option *ngFor="let periodo of periodos"
                                                        [value]="[periodo.id,periodo.nombre]">
                                                        {{periodo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('periodoId')" id="periodoId"
                                                    class="form-text text-danger">
                                                    La periodo es requerido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="aulaId" class="form-label">Aula</label>
                                                <select class="form-select" aria-label="Seleccionar aula"
                                                    formControlName="aulaId" (change)="cargarMatriculas()">
                                                    <option value="">Seleccionar Aula</option>
                                                    <option *ngFor="let aula of aulas" [value]="[aula.id,aula.nombre]">
                                                        {{aula.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('aulaId')" id="aulaId"
                                                    class="form-text text-danger">
                                                    La aula es requerida
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="areaId" class="form-label">Area</label>
                                                <select class="form-select" aria-label="Seleccionar area"
                                                    formControlName="areaId" (change)="cargarMatriculas()">
                                                    <option value="">Seleccionar area</option>
                                                    <option *ngFor="let area of areas" [value]="[area.id,area.nombre]">
                                                        {{area.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('areaId')" id="areaId"
                                                    class="form-text text-danger">
                                                    La area es requerida
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="mb-3">
                                                <label for="cicloId" class="form-label">Ciclo</label>
                                                <select class="form-select" aria-label="Seleccionar ciclo"
                                                    formControlName="cicloId">
                                                    <option value="">Seleccionar ciclo</option>
                                                    <option *ngFor="let ciclo of ciclos"
                                                        [value]="[ciclo.id,ciclo.nombre]">
                                                        {{ciclo.nombre}}
                                                    </option>
                                                </select>
                                                <div *ngIf="campoRequerido('cicloId')" id="cicloId"
                                                    class="form-text text-danger">
                                                    El ciclo es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2">
                                        <i class="bi bi-search"></i>
                                        Buscar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card card-color-primary contenido-principal mt-0">
                    <div class="card-header card-color-header">
                        <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-lg-flex d-flex-column justify-content-start mt-1" *ngIf="datos.length>0">
                                    <button type="button" class="btn btn-primary btn-sm me-2 mb-1"
                                        (click)="generatePDF('OPEN')" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Imprimir PDF">
                                        <i class="bi bi-printer"></i>
                                        Imprimir
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm me-2 mb-1"
                                        (click)="generatePDF('DOWNLOAD')" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Descargar PDF">
                                        <i class="bi bi-arrow-down-circle"></i>
                                        Descargar
                                    </button>
                                </div>
                                <div class="mb-1" *ngIf="cargando">
                                    <div class="alert alert-info text-center" role="alert">
                                        <h6 class="alert-heading">Cargando...</h6>
                                        <div class="spinner-border" role="status">
                                        </div>
                                        <p>Por favor espera</p>
                                    </div>
                                </div>
                                <div class="table-responsive mt-2" *ngIf="!cargando">
                                    <div class="alert alert-primary" role="alert" *ngIf="datos.length==0">
                                        No hay registros.
                                    </div>
                                    <table class="table table-bordered table-hover" *ngIf="datos.length>0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="w70">N°</th>
                                                <th scope="col">Apellidos y nombres</th>
                                                <th scope="col">Area</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dato of datos; let i= index">
                                                <td>{{ i+1 }}</td>
                                                <td>{{ dato.alumno.matricula?.alumno?.persona?.apellidopaterno}}
                                                    {{ dato.alumno.matricula?.alumno?.persona?.apellidomaterno}}
                                                    {{ dato.alumno.matricula?.alumno?.persona?.nombres}}
                                                </td>
                                                <td>{{ dato.alumno.programacion?.area?.nombre}}</td>
                                                <td>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Competencia</th>
                                                                <th>Evaluacion</th>
                                                                <th>Nota</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of dato.notas">
                                                                <td>{{item.competencia?.descripcion}}</td>
                                                                <td>{{item.evaluacion?.nombre}}</td>
                                                                <td>{{item.valor}}</td>
                                                            </tr>
                                                            <tr *ngIf="dato.notas.length==0">
                                                                <td colspan="3">No hay registros.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="datos.length>0">
        <div class="card contenido-principal">
            <div class="card-header">
                <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <h6 class="card-title">Periodo:</h6>
                                <p class="card-text"> {{ periodonombre | uppercase }}</p>
                                <h6 class="card-title">Aula:</h6>
                                <p class="card-text">{{ aulanombre | uppercase }}</p>
                                <h6 class="card-title">Area:</h6>
                                <p class="card-text"> {{ areanombre | uppercase }}</p>
                                <h6 class="card-title">Ciclo:</h6>
                                <p class="card-text"> {{ ciclonombre | uppercase }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>