<div class="row contenedor mb-0">
    <div class="col-12 mb-2">
        <div class="row">
            <div class="col-12 col-md-6" *ngIf="mimagen">
                <img src="../../../assets/img/fondo.jpg"  class="img-fluid imagen-fondo" alt="imagen fondo">
            </div>
            <div class="col-12 col-md-6 mb-2" *ngIf="mgrafica">
                <div class="card card-color-primary">
                    <div class="card-header card-color-header">
                        Notas de hoy <span class="fw-bold">{{formatofecha}}</span> <br>
                        1º y 2º secundaria
                    </div>
                    <div class="card-body">
                        <canvas baseChart [data]="salesData" [type]="'bar'" [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-12 col-md-6 mb-2" *ngIf="mgrafica">
                <div class="card card-color-primary">
                    <div class="card-header card-color-header">
                        Notas de hoy <span class="fw-bold">{{formatofecha}}</span> <br>
                    </div>
                    <div class="card-body">
                        <canvas baseChart [data]="salesData2" [type]="'bar'" [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
            -->
            <div class="col-12 col-md-6" *ngIf="mgrafica">
                <div class="card card-color-primary">
                    <div class="card-header card-color-header">
                        Asistencias de hoy <span class="fw-bold">{{formatofecha}}</span> <br>
                        1º y 2º secundaria
                    </div>
                    <div class="card-body">
                        <canvas baseChart [data]="salesData3" [type]="'line'" [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <footer class="footer  py-2 copyright">
            <p class="text-center m-0 fw-bold text-uppercase fs-5">&copy;<span> Todos los derechos reservados</span></p>
        </footer>
    </div>
</div>









<!--
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" 
            *ngFor="let item of menus">
                <div class="card text-center carta">
                    <div class="card-body">
                        <span class="icono">
                            <i class="{{item.icono}}"></i>
                        </span>
                    </div>
                    <div class="card-footer text-muted tarjeta">
                        <a routerLink="{{item.url}}" class="d-flex justify-content-between align-items-center 
                        text-decoration-none text-dark piepagina">
                            <h3 class="fs-5 fw-bold">{{item.titulo}}</h3>
                            <i class="bi bi-folder2-open"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->