<div class="row">
    <div class="col-12 col-lg-9 mb-3 mb-lg-0">
        <div class="card card-color-primary contenido-principal mt-0">
            <div class="card-header card-color-header">
                <div class="d-flex justify-content-between">
                    <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                    <button type="button" class="d-flex btn btn-primary" data-bs-toggle="modal" data-bs-target="#crear"
                        (click)="crearMaterial()">
                        <i class="bi bi-plus-square me-2"></i>
                        Crear
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-start mb-2 buscador">
                    <div class="input-group me-0">
                        <span class="input-group-text" id="buscar-algo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>
                        <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar"
                            aria-describedby="buscar-algo" (keyup)="buscarMaterial(txtTermino.value)" #txtTermino>
                    </div>
                </div>
                <div class="mb-1" *ngIf="cargando">
                    <div class="alert alert-info text-center" role="alert">
                        <h6 class="alert-heading">Cargando...</h6>
                        <div class="spinner-border" role="status">
                        </div>
                        <p>Por favor espera</p>
                    </div>
                </div>
                <div class="table-responsive mb-1" *ngIf="!cargando">
                    <div class="alert alert-primary" role="alert" *ngIf="materiales.length==0">
                        No hay registros.
                    </div>
                    <table class="table table-bordered table-hover" *ngIf="materiales.length>0">
                        <thead>
                            <tr>
                                <th scope="col" class="w70">N°</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Archivo</th>
                                <th scope="col" class="w100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of materiales; let i=index">
                                <th>{{desde+i+1}}</th>
                                <td>{{material.titulo}}</td>
                                <td class="text-center">
                                    <a *ngIf="material?.archivo" href="{{material?.archivo}}" target="_blank"
                                        class="text-center" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Descargar">
                                        <img src="../../../../assets/img/download.png" alt=""
                                            style="width: 40px; height: 40px;">
                                    </a>
                                </td>
                                <td>
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-info me-1" data-bs-toggle="modal"
                                            data-bs-target="#detalle" data-bs-placement="top" title="Detalle"
                                            (click)="detalleMaterial(material)">
                                            <span>
                                                <i class="bi bi-file-pdf"></i>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-success me-1" data-bs-toggle="modal"
                                            data-bs-target="#crear" data-bs-placement="top" title="Editar"
                                            (click)="editarMaterial(material)">
                                            <span>
                                                <i class="bi bi-pen"></i>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-placement="top"
                                            title="Eliminar" (click)="eliminarMaterial(material)">
                                            <span>
                                                <i class="bi bi-x-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between align-items-start" *ngIf="!cargando">
                    <button [disabled]="da" (click)="cambiarPagina(-6)" type="button"
                        class="btn btn-dark  btn-sm me-2">
                        <i class="bi bi-arrow-left-square"></i> Anterior
                    </button>
                    <button [disabled]="ds" (click)="cambiarPagina(6)" type="button"
                        class="btn btn-dark  btn-sm">
                        <i class="bi bi-arrow-right-square"></i> Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="col-12 col-lg-12">
            <div class="card card-color-primary contenido-principal mt-0">
                <div class="card-header card-color-header">
                    <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                </div>
                <div class="card-body">

                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Periodo</div>
                                {{ periodonombre | uppercase}}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Aula</div>
                                {{ aulanombre | uppercase}}
                            </div>
                           
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Area</div>
                                {{ areanombre | uppercase}}
                            </div>
                           
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Docente</div>
                                {{ docentenombre | uppercase}}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Total de Materiales:</div>
                                {{ total}}
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content card-color-primary">
            <div class="modal-header card-color-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detalle Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="d-flex flex-column flex-lg-row justify-content-start">
                    <!--
                    <img [src]="material?.programacion?.subarea?.area?.img! | imgarea" alt="imagen"
                        class="imagen me-3 mb-2">
                    -->
                    <div>
                        <h6>Titulo:</h6>
                        <p>{{material?.titulo}}</p>
                        <h6 *ngIf="material?.subtitulo==''">Subtitulo:</h6>
                        <p *ngIf="material?.subtitulo==''">{{material?.subtitulo}}</p>
                        <h6>Descripción:</h6>
                        <p class="text-justify">{{material?.descripcion}}</p>
                        <h6>Creado por:</h6>
                        <p>{{material?.programacion?.docente?.persona?.nombres}}</p>
                        <h6>Fecha:</h6>
                        <p>{{material?.fecha}}</p>
                        <a *ngIf="material?.archivo" href="{{material?.archivo}}" target="_blank">
                            <img src="../../../../assets/img/descarga.png" alt="" class="descarga">
                        </a>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                    <i class="bi bi-x-lg"></i>
                    Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content card-color-primary">
            <div class="modal-header card.card-color-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form [formGroup]="materialForm" (submit)="guardarMaterial()" autocomplete="off">

                <div class="modal-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Titulo</label>
                                <input type="text" class="form-control" id="titulo" formControlName="titulo"
                                    placeholder="Escribir el titulo">
                                <div class="form-text text-danger" *ngIf="campoRequerido('titulo')">
                                    El campo titulo es requerido
                                </div>
                                <div class="form-text text-danger" *ngIf="campoMaxLengh('titulo',100)">
                                    El campo titulo debe tener como maximo 100 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="subtitulo" class="form-label">SubTitulo</label>
                                <input type="text" class="form-control" id="subtitulo" formControlName="subtitulo"
                                    placeholder="Escribir el subtitulo">
                                <div class="form-text text-danger" *ngIf="campoMaxLengh('subtitulo',100)">
                                    El campo subtitulo debe tener como maximo 100 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <textarea class="form-control" id="descripcion" rows="7" cols="7"
                                    formControlName="descripcion" placeholder="Escribir la descripcion"></textarea>
                                <div class="form-text text-danger" *ngIf="campoRequerido('descripcion')">
                                    El campo descripcion es requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Archivo</label>
                                <input type="file" class="form-control" id="formFile" formControlName="archivo"
                                    (change)="cambiarArchivo($event)">
                            </div>
                            <div class="mb-1" *ngIf="cargandocrear">
                                <div class="alert alert-info text-center" role="alert">
                                    <h6 class="alert-heading">Subiendo archivo...</h6>
                                    <div class="spinner-border" role="status">
                                    </div>
                                    <p>Por favor espera</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton2>
                        <i class="bi bi-x-lg"></i>
                        Cerrar</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-hdd"></i>
                        {{boton}}</button>
                </div>
            </form>
        </div>
    </div>
</div>