<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo1" [icono]="icono1"></app-headertable>
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="asisForm" (submit)="buscarAsistencias()">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="mb-3">
                                        <label for="fechainicial" class="form-label">Fecha</label>
                                        <input type="date" class="form-control" 
                                        formControlName="fechainicial">
                                        <div *ngIf="campoRequerido('fechainicial')" id="fechainicial"
                                            class="form-text text-danger">
                                            La Fecha es requerida
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">
                                <i class="bi bi-search"></i>
                                Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="card contenido-principal">
            <div class="card-body">
                <app-headertable [titulo]="titulo2" [icono]="icono2"></app-headertable>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-primary" role="alert" *ngIf="asistencias.length==0">
                            No hay registros.
                        </div>

                        <div class="d-lg-flex d-flex-column justify-content-start mt-1 mb-2" *ngIf="asistencias.length>0">
                            <button type="button" class="btn btn-danger btn-sm me-2" (click)="generatePDF('OPEN')"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar PDF">
                                <i class="bi bi-file-earmark-pdf"></i>
                                Visualizar
                            </button>
                            <button type="button" class="btn btn-primary btn-sm me-2" (click)="generatePDF('PRINT')"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir PDF">
                                <i class="bi bi-printer"></i>
                                Imprimir
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm me-2"
                                (click)="generatePDF('DOWNLOAD')" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Descargar PDF">
                                <i class="bi bi-arrow-down-circle"></i>
                                Descargar
                            </button>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" *ngIf="asistencias.length>0">
                                <thead>
                                    <tr>
                                       
                                        <th scope="col">Fecha</th> 
                                        <th scope="col">Alumno</th>                         
                                        <th scope="col">Subarea</th>
                                        <th scope="col" class="w70">Situación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let asistencia of asistencias; let i=index">
                                        
                                        <td>{{asistencia.fecha | date:'dd/MM/yyyy' }}</td>
                                        <td>{{alumnonombre}}</td>
                                        <td>{{asistencia.matricula?.programacion?.subarea?.nombre}}</td>
                                        <td>
                                            <span *ngIf="asistencia.situacion?.id==4"
                                                class="badge rounded-pill bg-danger">
                                                {{asistencia.situacion?.nombre}}
                                            </span>
                                            <span *ngIf="asistencia.situacion?.id==14"
                                                class="badge rounded-pill bg-success">
                                                {{asistencia.situacion?.nombre}}
                                            </span>
                                            <span *ngIf="asistencia.situacion?.id==24" 
                                            class="badge rounded-pill bg-primary">
                                                {{asistencia.situacion?.nombre}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4" *ngIf="asistencias.length>0">
            <div class="card contenido-principal">
                <div class="card-body">
                    <app-headertable [titulo]="titulo3" [icono]="icono3"></app-headertable>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-primary" role="alert" *ngIf="asistencias.length==0">
                                No hay resumen.
                            </div>
                            <div class="card w-100" *ngIf="asistencias.length>0">
                                <div class="card-body">
                                    <h6 class="card-title">Periodo:</h6>
                                    <p class="card-text"> {{ periodonombre }}</p>
                                    <h6 class="card-title">Aula:</h6>
                                    <p class="card-text">{{ aulanombre }}</p>                                    
                                    <h6 class="card-title">Docente:</h6>
                                    <p class="card-text">  {{ docentenombre }}</p> 
                                    <h6 class="card-title">Alumno:</h6>
                                    <p class="card-text">  {{ alumnonombre }}</p> 
                                     <!--
                                    <h6 class="card-title">Fecha:</h6>
                                    <p class="card-text">  {{ fechai | date:'dd/MM/yyyy' }}</p>                             
                                   
                                    <h6 class="card-title">Fecha Final:</h6>
                                    <p class="card-text"> {{ fechaf | date:'dd/MM/yyyy' }}</p>
                                    
                                    <h6 class="card-title">Asistencias:</h6>
                                    <p class="card-text"> {{ asistenciatotal }}</p>
                                    <h6 class="card-title">Faltas:</h6>
                                    <p class="card-text"> {{ faltatotal }}</p>
                                    <h6 class="card-title">Justificaciones:</h6>
                                    <p class="card-text"> {{ justificatotal }}</p>
                                    -->
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


